<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- SEO Stuff --> 
<meta name="keywords" content="Hole in one Golf" /> 
<meta name="description" content="The Hole in one Golf - where winners get lucky." /> 
 		<title>Hole In One Golf</title>
		<link rel="stylesheet" type="text/css" href="../styles/desktop.css">
</head>
	<body>
<body>
        
<div class="desktop_header">
		<div class="logo_holder">
            <div class="logo">
            </div>
    </div>
</div>
