<div id="formWrapper" >
			<div id="title" ></div>
			<div id="formDiv" >
          <div class="home-body">
              <div class="home-navbar">
              	<ul>
                  <li><div class="login-icon"></div><a href="index.php?view=cashbook">Cashbook</a></li>
                  <li><div class="login-icon"></div><a href="index.php?view=sponsors">Sponsors</a></li>
                  <li><div class="login-icon"></div><a href="index.php?view=players">Players</a></li>
                  <li><div class="login-icon"></div><a href="index.php?view=claims">Claims</a></li>
                  <li><div class="login-icon"></div><a href="index.php?view=issued">Vouchers</a></li>
                  <li><div class="login-icon"></div><a href="index.php?view=blah">Netcash Batch</a></li>
                </ul>
              </div>
          </div>
      </div>
</div>