<div id="formWrapper" >
			<div id="title" ></div>
			<div id="formDiv" >
          <div class="home-body">
              <div class="output">
								<p>Claims</p>
              </div>
              <div>&nbsp;</div>
		          <div class="data">
		              <table border=1>
		              	<tr>
		                  <th class="form-labels">Voucher</th>
		                  <th class="form-labels">Club</th>
		                  <th class="form-labels">Captain</th>
		                  <th class="form-labels">Hole</th>
		                  <th class="form-labels">Date</th>
		                  <th class="form-labels">Period</th>
		                  <th class="form-labels">Success</th>
		                   <th class="form-labels">Value</th>
		                </tr>
										<?php echo $output; ?>
		              </table>
		          </div>
      </div>
</div>
<?php require_once('../views/adminfooter.html'); ?>