<div id="formWrapper" >
			<div id="title" ></div>
			<div id="formDiv" >
          <div class="home-body">
              <div class="output">
								<p>To play in the Hole In One Tournament for a Day</p>
								<p>SMS ONE to 39007</p
								<p>&nbsp;OR</p>
								<p>To play in the Two Club Tournament for a Day</p>
								<p>SMS TWO to 39007</p>
								<p>&nbsp;</p>
								<p>Please remember to register as a player first</p>
								<p>(sms cost R15 - T&C's apply)</p>
              </div>
          </div>
      </div>
</div>
<?php require_once('views/footer.html'); ?>