<div id="formWrapper" >
			<div id="title" ></div>
			<div id="formDiv" >
          <div class="home-body">
              <div class="home-navbar">
              	<ul>
                  <li><div class="login-icon"></div><a href="index.php?view=affiliated">Player Registration</a></li>
                  <li><div class="login-icon"></div><a href="index.php?view=vouchers">Enter Tournament</a></li>
									<li><div class="login-icon"></div><a href="index.php?view=claim">Claim Prize Money</a></li>
                  <li><div class="login-icon"></div><a href="https://twitter.com/hiogolfSA">Follow play on Twitter</a></li>
                  <li><div class="login-icon"></div><a href="http://www.facebook.com/pages/Hole-In-One-Golf/322799257840557">View winners on Facebook</a></li>
              		<li><div class="member-icon"></div><a href="index.php?view=rules">Tournament Rules and T&C's</a></li>                  
                </ul>
              </div>
          </div>
      </div>
</div>
<?php require_once('views/footer.html'); ?>