<div id="formWrapper" >
			<div id="title" ></div>
			<div id="formDiv" >
          <div class="home-body">
              <div class="output">
								<p>Issued Vouchers</p>
              </div>
              <div>&nbsp;</div>
		          <div class="data">
		              <table border=1>
		              	<tr>
		                  <th class="form-labels">Serial</th>
		                  <th class="form-labels">Days</th>
		                  <th class="form-labels">From</th>
		                  <th class="form-labels">To</th>
		                  <th class="form-labels">PlayerId</th>
		                  <th class="form-labels">Strokes</th>
		                </tr>
										<?php echo $output; ?>
		              </table>
		          </div>
      </div>
</div>
<?php require_once('../views/adminfooter.html'); ?>