<div id="formWrapper" >
			<div id="title" ></div>
			<div id="formDiv" >
          <div class="home-body">
              <div class="output">
								<p>Progressive Prize Money:</p>
								<p>National Two-Club Tournament: <?php echo $twoclubpot; ?></p>
								<p>National Hole in One Tournament: <?php echo $hiopot; ?></p>
								<p><hr /></p>
								<p>Sponsored Bonus Prize: A Weekend for 2 at Fancourt worth R7650</p>
								<p>(Click here for details)</p>
								<p><hr /></p>
								<p>TOTAL PRIZE MONEY TODAY IS AT: <?php echo $totalpot; ?></p>
              </div>
              <div class="home-navbar">
              	<ul>
                  <li><div class="login-icon"></div><a href="index.php?view=day">Buy Day Voucher - R15.00</a></li>
              		<li><div class="login-icon"></div><a href="index.php?view=week">Buy Week Voucher - R75.00</a></li>
                  <li><div class="login-icon"></div><a href="index.php?view=month">Buy Month Voucher - R350.00</a></li>
                  <li><div class="login-icon"></div><a href="index.php?view=year">Buy Year Voucher - R2 750.00</a></li>
                </ul>
              </div>
          </div>
      </div>
</div>
<?php require_once('views/footer.html'); ?>