<div id="formWrapper" >
			<div id="title" ></div>
			<div id="formDiv" >

          <div class="home-body">
              <div class="output">
								<p>Registered Players</p>
              </div>
              <div>&nbsp;</div>
		          <div class="data">
		              <table border=1>
		              	<tr>
		                  <th class="form-labels">Id</th>
		                  <th class="form-labels">Name</th>
		                  <th class="form-labels">Club</th>
		                  <th class="form-labels">Email</th>
		                  <th class="form-labels">Msisdn</th>
		                  <th class="form-labels">Sex</th>
		                  <th class="form-labels">Handicap</th>
		                  <th class="form-labels">Joined</th>
		                  <th class="form-labels">Saga Id</th>
		                </tr>
										<?php echo $output; ?>
		              </table>
		          </div>
      </div>
</div>
<?php require_once('../views/adminfooter.html'); ?>