<div id="formWrapper" >
			<div id="title" ></div>
			<div id="formDiv" >
          <div class="home-body">
              <div class="output">
								<p>Player Registration</p>
              </div>
          </div>
						<form id="joinForm" action="index.php?view=regsave" method="post" >
						<div>
								<hr />
										<div>&#160;</div>
										<?php echo $output; ?>
										<div>&#160;</div>
										<div><input type="submit" name="register" value="Register" ></input></div>
								<hr />
						</div>
					</form>
				</div>



      </div>
</div>
<?php require_once('views/footer.html'); ?>