<div id="formWrapper" >
			<div id="title" ></div>
			<div id="formDiv" >
          <div class="home-body">
              <div class="output">
								<div><?php echo $output ?></div>
              </div>
              &nbsp;
              <div class="output">
								<p>A hole-in-one is golf’s most sought-after achievement. To protect the sanctity of this achievement, golf’s ruling bodies have laid down a set of requirements for the recognition of a hole-in-one.</p>
								<p>OFFICIAL REQUIREMENTS FOR THE RECOGNITION OF A HOLE-IN-ONE</p>
								<p>1.	It must be achieved during a game of either 9 or 18 holes.</p>
								<p>2. The exact number of holes to be played must be agreed BEFORE commencement of play.</p>
								<p>3. If a hole-in-one is achieved during the first 9 holes of an 18 hole game, the full 18 holes must be played.</p>
								<p>4.	The game must be played according to the accepted R&amp;A rules (i.e. marker, one ball, etc)</p>
								<p>5.	The hole-in-one must be achieved on a full length golf course and special dispensation must be obtained if the course has more than five (5) short holes</p>
								<p>6.	The hole-in-one does NOT have to be scored during an official competition</p>
								<p>7.	The player does NOT need to have an official handicap or be a member of a golf club</p>
								<p>8.	The player’s card must be signed by a marker</p>
								<p>NOTE<br />
								The rules state that the hole-in-one must be achieved during a game of golf. In other words, it can be scored during a social round of golf and it DOES NOT have to be achieved during a formal competition.</p>
              </div>
          </div>
      </div>
</div>
<?php require_once('views/footer.html'); ?>