<div id="formWrapper" >
			<div id="title" ></div>
			<div id="formDiv" >

          <div class="home-body">
              <div class="output">
								<p>Bonus Prize Sponsors</p>
              </div>
              <div>&nbsp;</div>
		          <div class="data">
		              <table border=1>
		              	<tr>
		                  <th class="form-labels">Valid From</th>
		                  <th class="form-labels">Valid To</th>
		                  <th class="form-labels">Description</th>
		                  <th class="form-labels">Link</th>
		                  <th class="form-labels">Value</th>
		                  <th class="form-labels">Edit</th>
		                </tr>
		                <tr>
										<form id="trans" action="index.php?view=sponsorsave" method="post" >
		                	<td><input type="text" name="from" size="15" maxlength="10" value="<?php echo date("d-m-Y"); ?>" /></td>
		                	<td><input type="text" name="to" size="15" maxlength="10" value="<?php echo date("d-m-Y"); ?>" /></td>
		                	<td><input type="text" name="description" size="35" maxlength="30" value="Description" /></td>
		                	<td><input type="text" name="link" size="25" maxlength="35" value="http://sponsorlink.com" /></td>
		                	<td><input type="text" name="amount" size="9" maxlength="8" value="0"/></td>
		                	<td>&nbsp;</td>
											<td><input type="submit" name="save" value="Add" ></input></td>
										</form>
										</tr>
										<?php echo $output; ?>
		              </table>
		          </div>
      </div>
</div>
<?php require_once('../views/adminfooter.html'); ?>