	<div id="menu" ><?php echo $navigate ?></div> 
	<div id="content"> 
			<div class='heading'>Advert</div> 
			<?php echo $dartAdTop; ?>
			<br /> 
			<hr /> 
			<div class="heading">1. Normal newspaper subscription</div> 
			<div class="storylink">Have the Mail & Guardian newspaper delivered directly to your doorstep. The Mail & Guardian is home delivered to most major metropolitan areas in South Africa, and posted to any address in the world, by either air or surface mail. Special discounts are available for students.</div> 
			<br />
			<div class="storylink">For normal newspaper subscription prices please visit <a href="http://<?php echo $subscribeUrl; ?>">http://<?php echo $subscribeUrl; ?></a> on your pc.</div> 
			<br />
			<div class="storylink">It will take us 10 to 12 working days (from the date of payment) to activate your subscription. Your subscription will be delivered on the Friday following this date. Should you have any queries, please contact the subscriptions department on Tel: <?php echo $supportPhone; ?></div> 
			<hr /> 
			<div class="heading">2. Digital newspaper subscription</div> 
			<div class="storylink">Receive a digital copy of the Mail & Guardian newspaper, an exact digital replica of the newspaper, delivered via the internet directly to your PC or laptop. You can read the Mail & Guardian newspaper exactly as it appears in print, including all photographs, layouts, graphics and headlines.</div> 
			<br />
			<div class="storylink">Every Friday first thing in the morning, the digital Mail & Guardian will be available for download on your computer, literally hot of the press!</div> 
			<br />
			<div class="storylink">To view the digital Mail & Guardian please visit the following website: <a href="http://<?php echo $subscribeUrl; ?>">http://<?php echo $subscribeUrl; ?></a></div> 
	</div> 
<?php require_once('templates/footer.html'); ?>