<div id="formWrapper" >
			<div id="title" ></div>
			<div id="formDiv" >
          <div class="home-body">
              <div class="output">
								<p>Thank You!</p>
								<p>You are now a registered player</p>
								<p>Participate as often as you like</p>
              </div>
              <div class="home-navbar">
              	<ul>
                  <li><div class="login-icon"></div><a href="index.php?view=day">Buy Day Voucher - R15.00</a></li>
              		<li><div class="login-icon"></div><a href="index.php?view=week">Buy Week Voucher - R75.00</a></li>
                  <li><div class="login-icon"></div><a href="index.php?view=month">Buy Month Voucher - R350.00</a></li>
                  <li><div class="login-icon"></div><a href="index.php?view=year">Buy Year Voucher - R2 750.00</a></li>
                </ul>
              </div>
          </div>
      </div>
</div>
<?php require_once('views/footer.html'); ?>